body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(img/edm-lasers.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
#dancefloor {
  height: 30%;
  width: 80%;
  margin: 0 auto;
  margin-top: 375px;
}

.dancer{
  position:absolute;
  height: 80px;
  width: 80px;
}

.blinky {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: red;
}

.cat {
  background-image: url(img/happycat.png);
  transition: transform 0.5s linear;
}

.cat:hover {
  transform: rotateX(90deg);
}

.grumpyCat {
  background-image: url(img/grumpycat_2.png);
}
